@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@700&display=swap');
/* font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif; */

html,body{
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(218, 28%, 15%);
    color:white;
    line-height: 1.6;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1,h2,button,#section2 a{
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: clamp(1.7rem, 2.8vw, 3rem);
    line-height: 1.3;
}
h2{
    font-size:clamp(1.3rem, 1.7vw, 1.9rem);
}
p{
    font-size: clamp(.9rem,1.2vw,1.5rem);
    color:gainsboro;
}
#section5 .testi p, #section3 p{
    font-size: clamp(.8rem,1.2vw,1.5rem);
}
ul{
    list-style: none;
}
a,button{
    text-decoration: none;
    color:white;  
    font-size: clamp(.8rem,1.1vw,1.5rem);
}
footer a, footer p{
    font-size: clamp(.9rem,1.2vw,1.5rem);
}
.wrapper,.wrapper2{
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2rem;
}
.wrapper{
    width:60%;
}
.wrapper2{
    width:90%;
}
.container > *{
    padding-bottom:1em;
}
.logo{
    width:10rem;
    height:3rem;
}
#section3, #section4{
    background-color: hsl(218, 28%, 13%);
}
.ilustration{
    width:100%;
}

/* ============================================= NAV ========================================================= */
nav{
    padding:4rem 4rem 0 4rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
nav ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul li{
    padding: 0 1em;
}
nav ul li:hover{
    text-decoration: underline;
}
nav a{
    color:gainsboro;
}


/* =============================================== SECTION 1 ============================================== */

#section1 .wrapper{
    padding-top:4rem;
}

/* ================================================= SECTION 2 ============================================= */
#section2 p{
    font-size: clamp(.9rem,1.4vw,1.5rem);
    width:80%;
    padding-top:2rem;
}
#section2{
    background-image: url(images/bg-curvy-desktop.svg);
    background-position-y: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom:clamp(1rem,11vw,11rem);
}

#section2 .wrapper{
    flex-direction: column;
    gap:2rem;
}

#section2 .content{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#section2 a{
    border-radius:50px;
    padding:1em 6em;
    background:linear-gradient(to left, hsl(198, 60%, 50%),hsl(176, 68%, 64%));
    border:none;
    cursor: pointer;
}

/* ================================================= SECTION 3 ============================================= */
#section3 .wrapper{
    width:75%;
    padding:1rem 0 5rem 0;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 200px;
    gap:6.8em;
}
#section3 .box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section3 h2{
    margin-top: 1.5em;
}
#section3 p{
    text-align: center;
}
#section3 .wrapper div:first-child p,#section3 .wrapper div:last-child p{
    padding:0 1.3rem;
}

/* ================================================ SECTION 4 ============================================= */
#section4 .wrapper2{
    padding:5rem 0 13rem 0;
}
#section4 .link{
    border-bottom:1.5px solid hsl(176, 68%, 64%);
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:11rem;
    position: relative;
}
#section4 .link a{
    color:hsl(176, 68%, 64%);
    font-size: clamp(.8rem,1.2vw,1.5rem);
}
#section4 .link img{
    position:absolute;
    right:0;
    bottom:4px;
}
#section4 h1{
    width:70%;
}
#section4 .content3{
    width:60%;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding:1rem 0 1rem 2rem;
}

/* =============================================== SECTION 5 ============================================== */
#section5{
    background: linear-gradient(to bottom,hsl(218, 28%, 13%),hsl(218, 28%, 15%) );
    padding-bottom: 9rem;
}
#section5 .wrapper2{
    display:flex;
    flex-direction: row;
    gap:2rem;
    background-image: url(images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position-x: 1.5rem;
}

#section5 .testi{
    display:flex;
    flex-direction: column;
    background-color:  hsl(219, 30%, 18%);
    border-radius: 10px;
    padding:2em .9em;
}
#section5 .profile{
    display:flex;
    padding-top: 1rem;
}
#section5 .name{
    padding-left: 1em;
    line-height: 1.2;
}
#section5 .profile img{
    width:2rem;
    background-color: red;
    align-self: center;
    height:2rem;
    border-radius: 50%;
}

/* ===================================================== SECTION 6 ==================================== */
#section6{
    background: linear-gradient(to bottom,hsl(217, 28%, 15%) 50%, hsl(216, 53%, 9%) 50%);
    padding:1rem;
}
#section6 .wrapper{
    background-color: hsl(217, 28%, 15%);
    border-radius: 20px;
    box-shadow: 5px 2px 10px black;
}
#section6 .container{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding:1rem 0;
}
#section6 p{
    width:100%;
    margin: 0 auto;
    padding-bottom: 2rem;
}
#section6 form{
    display:flex;
    gap: 1rem;
    padding:0 1rem;
}
#section6 input{
    padding:1em 2em;
    flex:1;
    border-radius: 50px;
    border:none;
    font-size: .9rem;
    font-weight: 600;
}
#section6 button{
    border-radius:50px;
    padding:1em 2em;
    background:linear-gradient(to left, hsl(198, 60%, 50%),hsl(176, 68%, 64%));
    border:none;
    cursor: pointer;
}
/* ============================================== FOOTER ================================================ */
footer{
    background:hsl(216, 53%, 9%);
    padding: 2rem 0 5rem 0;
}
footer .location, footer .contact{
    display:flex;
    gap:1em;
    align-items: flex-end;
}
footer .location img{
    align-self: flex-start;
}
footer  img{
    width:1.3rem;
    height:1.2rem;
    align-self: center;
}
footer ul{
    line-height: 2;
}
footer .logo{
    margin-left: 1rem;
}
footer a:hover{
    color:hsl(176, 68%, 64%);
}
.footer{
    width:90%;
    margin:0 auto;
}
.footwrap{
    display:flex;
    flex-direction: row;
    gap: 1em;
}
.footwrap div:first-child{
    flex:3;
}
.footwrap div:nth-child(2){
    flex:2;
    line-height: 1rem;
}

.footwrap div:last-child ul{
    display:flex;
    gap: 1rem;
    justify-content: center;
}
.footwrap div:last-child a:hover{
    border-bottom: 2px solid hsl(176, 68%, 64%);
}
.foots{
    flex:1;
}

.foots > *{
    margin:1rem;
}

/* ================================================ CREDITS ================================================= */
.attribution {
    font-size: 11px;
    text-align: center; 
    padding: 2px 0;
}

.attribution a {
    font-size: 11px;
    color: hsl(228, 45%, 44%); 
}



/* ================================================================================================================ */
/* =================================================== MEDIA QUERRY ============================================== */
/* ================================================================================================================ */
@media (max-width:900px){
    .logo{
        width:6rem;
        height:1.7rem;
    }
    .wrapper, .wrapper2{
        width:90%;
        flex-direction: column;
    }

    /* ============================================= NAV ========================================================= */
    nav{
        padding:2rem 1rem 0 1rem;
    }
    nav ul li{
        padding: 0 .5em;
    }

    /* ============================================ SECTION 2 ====================================================== */
    #section2 .wrapper{
        padding: 5rem 1.1rem 0 1.1rem;  
        width:100%;
    }

    #section2 p{
        width:90%;
        padding-top:1rem;
    }
    
    #section2{
        background-image: url(images/bg-curvy-mobile.svg);
        height:8rem;
        background-position: top;
        margin-top: -5rem;
    }

    /* ============================================ SECTION 3 ====================================================== */
    #section3 .wrapper{
        width:80%;
        padding-top:25rem;
        grid-template-columns: repeat(1,1fr);
        gap:6.8em;
    }
    #section3 .wrapper div:first-child p,#section3 .wrapper div:last-child p{
        padding:0;
    }
    
    /* ============================================ SECTION 4 ====================================================== */
    #section4 .content3{
        width:100%;
        padding: 0;
    }
    #section4 h1, #section6 h1{
        font-size: clamp(1.2rem, 2.8vw, 3rem);
        width:100%;
    }
    #section4 .link{
        width:8.5rem;
    }
    #section4 h1{
        width:100%;
    }
    #section4 .wrapper2{
        width:100%;
        padding:5rem 1rem 8rem 1rem;
    }
    #section4 .content3{
        width:100%;
        padding:2rem .9rem;
    }
    #section4 .content3 p{
        width:98%;
    }

    /* ============================================ SECTION 5 ====================================================== */
    #section5 .wrapper2{
        flex-direction: column;
        width:100%;
        padding:1.4rem 2rem 1rem 2rem;
        background-size: 2rem;
        background-position-x: 2.7rem;
    }

    /* ============================================ SECTION 6 ====================================================== */
    #section6 .wrapper{
        width:100%;
        padding:1rem;
    }
    #section6 p{
        width:90%;
    }
    #section6 form{
        flex-direction: column;
    }

    /* ============================================ FOOTER ====================================================== */
    footer{
        padding: 5rem 0 1rem 0;
    }
    footer .footwrap{
        flex-direction: column;
        gap: 1em;
    }
    footer .logo{
        width:10rem;
        height:3rem;
    }
    footer p{
        width:85%;
    }
}